NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=grocery_user
DB_PASSWORD=grocery_pass
DB_NAME=grocery_booking

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


JWT_SECRET=question_pro_assignment_prashanta
JWT_EXPIRES_IN=15m

LOW_STOCK_THRESHOLD=10

ALLOWED_ORIGINS=http://localhost:3000
